- List of contents
- Resource links(books, python docs etc)
- ...

## So you want to be a python expert?

In [1]:
print("Hello World")

Hello World

In [3]:
""" This is a multi line 
    comment. See?
    I'm in a new line now
"""


# This is single line comment

### 1. Primitive Datatypes and Operators

In [5]:
1

1

In [6]:
# Math is what you would expect

1 + 1   # => 2
8 - 1   # => 7
10 * 2  # => 20
35 / 5  # => 7.0

7.0

In [7]:
# Integer division rounds down for both positive and negative numbers.

5 // 3       # => 1
-5 // 3      # => -2
5.0 // 3.0   # => 1.0 # works on floats too
-5.0 // 3.0  # => -2.0

-2.0

In [8]:
# The result of division is always a float

10.0 / 3  # => 3.3333333333333335

3.3333333333333335

In [9]:
# Modulo operation
7 % 3  # => 1

1

In [10]:
# Exponentiation (x**y, x to the yth power)
2**3  # => 8

8

In [11]:
# Enforce precedence with parentheses
(1 + 3) * 2  # => 8

8

In [12]:
# Boolean values are primitives (Note: the capitalization)
True
False

False

In [13]:
# negate with not
not True   # => False
not False  # => True

True

In [14]:
# Boolean Operators
# Note "and" and "or" are case-sensitive
True and False  # => False
False or True   # => True

True

In [15]:
# True and False are actually 1 and 0 but with different keywords
True + True # => 2
True * 8    # => 8
False - 5   # => -5

-5

In [16]:
# Comparison operators look at the numerical value of True and False
0 == False  # => True
1 == True   # => True
2 == True   # => False
-5 != False # => True

True

In [18]:
# Using boolean logical operators on ints casts them to booleans for evaluation, but their non-cast value is returned
# Don't mix up with bool(ints) and bitwise and/or (&,|)
bool(0)     # => False
bool(4)     # => True
bool(-6)    # => True
0 and 2     # => 0
-5 or 0     # => -5

-5

In [17]:
# Equality is ==
1 == 1  # => True
2 == 1  # => False

False

In [19]:
# Inequality is !=
1 != 1  # => False
2 != 1  # => True

True

In [20]:
# More comparisons
1 < 10  # => True
1 > 10  # => False
2 <= 2  # => True
2 >= 2  # => True

True

In [22]:
# Seeing whether a value is in a range
1 < 2 and 2 < 3  # => True
2 < 3 and 3 < 2  # => False
# Chaining makes this look nicer
1 < 2 < 3  # => True
2 < 3 < 2  # => False

False

In [23]:
# (is vs. ==) is checks if two variables refer to the same object, but == checks
# if the objects pointed to have the same values.

a = [1, 2, 3, 4]  # Point a at a new list, [1, 2, 3, 4]
b = a             # Point b at what a is pointing to
b is a            # => True, a and b refer to the same object
b == a            # => True, a's and b's objects are equal
b = [1, 2, 3, 4]  # Point b at a new list, [1, 2, 3, 4]
b is a            # => False, a and b do not refer to the same object
b == a            # => True, a's and b's objects are equal

True

In [24]:
# Strings are created with " or '

"This is a string."
'This is also a string.'

'This is also a string.'

In [26]:
# Strings can be added too! But try not to do this.
"Hello " + "world!"  # => "Hello world!"

# String literals (but not variables) can be concatenated without using '+'
"Hello " "world!"    # => "Hello world!"

# A string can be treated like a list of characters
"This is a string"[0]  # => 'T'

# You can find the length of a string
len("This is a string")  # => 16

# .format can be used to format strings, like this:
"{} can be {}".format("Strings", "interpolated")  # => "Strings can be interpolated"

'Strings can be interpolated'

In [27]:
# None is an object
None  # => None

In [28]:
# Don't use the equality "==" symbol to compare objects to None
# Use "is" instead. This checks for equality of object identity.

"etc" is None  # => False
None is None   # => True

True

### 2. Variables and Collections

In [29]:
print("I'm Python. Nice to meet you!")  # => I'm Python. Nice to meet you!

I'm Python. Nice to meet you!

In [32]:
# Simple way to get input data from console
input_string_var = input("Enter some data: ") # Returns the data as a string
print("The user gave me a {}".format(input_string_var))

Enter some data: 5
The user gave me a 5

In [33]:
# There are no declarations, only assignments.
# Convention is to use lower_case_with_underscores
some_var = 5
some_var  # => 5

5

In [49]:
# Lists store sequences
li = []

# You can start with a prefilled list
other_li = [4, 5, 6]

In [50]:
# Add stuff to the end of a list with append
li.append(1)    # li is now [1]
li.append(2)    # li is now [1, 2]
li.append(4)    # li is now [1, 2, 4]
li.append(3)    # li is now [1, 2, 4, 3]
# Remove from the end with pop
li.pop()        # => 3 and li is now [1, 2, 4]
# Let's put it back
li.append(3)    # li is now [1, 2, 4, 3] again.

li

[1, 2, 4, 3]

In [51]:
# Access a list like you would any array
li[0]   # => 1
# Look at the last element
li[-1]  # => 3

3

In [52]:
# Looking out of bounds is an IndexError
li[4]  # Raises an IndexError

IndexError: list index out of range

In [53]:
# You can look at ranges with slice syntax.
# The start index is included, the end index is not
# (It's a closed/open range for you mathy types.)

li[1:3]   # => [2, 4]
# Omit the beginning and return the list
li[2:]    # => [4, 3]
# Omit the end and return the list
li[:3]    # => [1, 2, 4]
# Select every second entry
li[::2]   # =>[1, 4]
# Return a reversed copy of the list
li[::-1]  # => [3, 4, 2, 1]
# Use any combination of these to make advanced slices
# li[start:end:step]

[3, 4, 2, 1]

In [54]:
# Remove arbitrary elements from a list with "del"
del li[2]  # li is now [1, 2, 3]
li

[1, 2, 3]

In [55]:
# Remove first occurrence of a value
li.remove(2)  # li is now [1, 3]
li

[1, 3]

In [56]:
li.remove(2)  # Raises a ValueError as 2 is not in the list

ValueError: list.remove(x): x not in list

In [57]:
# Insert an element at a specific index
li.insert(1, 2)  # li is now [1, 2, 3] again

# Get the index of the first item found matching the argument
li.index(2)  # => 1
li.index(4)  # Raises a ValueError as 4 is not in the list

ValueError: 4 is not in list

In [58]:
# You can add lists
# Note: values for li and for other_li are not modified.
li + other_li  # => [1, 2, 3, 4, 5, 6]

[1, 2, 3, 4, 5, 6]

In [60]:
# Concatenate lists with "extend()"
li.extend(other_li)  # Now li is [1, 2, 3, 4, 5, 6]
li

[1, 2, 3, 4, 5, 6, 4, 5, 6]

In [61]:
# Check for existence in a list with "in"
1 in li  # => True

# Examine the length with "len()"
len(li)  # => 6

9

In [62]:
# Tuples are like lists but are immutable.
tup = (1, 2, 3)
tup[0]      # => 1

1

In [63]:
tup[0] = 3  # Raises a TypeError

TypeError: 'tuple' object does not support item assignment

In [64]:
# Note that a tuple of length one has to have a comma after the last element but
# tuples of other lengths, even zero, do not.
type((1))   # => <class 'int'>
type((1,))  # => <class 'tuple'>
type(())    # => <class 'tuple'>

tuple

In [65]:
# You can do most of the list operations on tuples too

len(tup)         # => 3
tup + (4, 5, 6)  # => (1, 2, 3, 4, 5, 6)
tup[:2]          # => (1, 2)
2 in tup         # => True

True

In [68]:
# You can unpack tuples (or lists) into variables
a, b, c = (1, 2, 3)  # a is now 1, b is now 2 and c is now 3

# You can also do extended unpacking
a, *b, c = (1, 2, 3, 4)  # a is now 1, b is now [2, 3] and c is now 4

# Tuples are created by default if you leave out the parentheses
d, e, f = 4, 5, 6  # tuple 4, 5, 6 is unpacked into variables d, e and f
# respectively such that d = 4, e = 5 and f = 6

# Now look how easy it is to swap two values
e, d = d, e  # d is now 5 and e is now 4
print(e, d)

4 5

In [69]:
# Dictionaries store mappings from keys to values
empty_dict = {}

# Here is a prefilled dictionary
filled_dict = {"one": 1, "two": 2, "three": 3}

* https://learnxinyminutes.com/docs/python3/
* https://gist.github.com/0x4D31/f0b633548d8e0cfb66ee3bea6a0deff9
* https://github.com/hasibzunair/randomfun/blob/master/others/test_driven_development/calc_dumb.py
* https://github.com/Akuli/python-tutorial
* See classes and OO content from randomfun